NODE_ENV=development # Dev mode

# MySQL COnfiguration (For Production)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=nutbcare_db_local
MYSQL_SSL=disabled  # atau 'insecure' untuk Laragon self-signed

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret
AUTH_TRUST_HOST=true

# Nodemailer Configuration
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@app.com"
MAIL_FROM_NAME="NU-TBCARE"