NODE_ENV=development # Dev mode

# MySQL COnfiguration (For Production)
MYSQL_HOST=your_host_database_MySQL
MYSQL_PORT=your_host_database_MySQL_port
MYSQL_USER=your_host_database_MySQL_user
MYSQL_PASSWORD=your_host_database_MySQL_password
MYSQL_DATABASE=your_host_database_MySQL_database_name
MYSQL_SSL=disabled  # atau 'insecure' untuk Laragon self-signed

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret

# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Nodemailer Configuration
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@app.com"
MAIL_FROM_NAME="NU-TBCARE"